<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ pokemon.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="pokemon.imageUrl"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ pokemon.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>HP:</ion-label>
          <ion-label>{{ pokemon.hp }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Attack:</ion-label>
          <ion-label>{{ pokemon.attack }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Defense:</ion-label>
          <ion-label>{{ pokemon.defense }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Special Attack:</ion-label>
          <ion-label>{{ pokemon.specialAttack }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Special Defense:</ion-label>
          <ion-label>{{ pokemon.specialDefense }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Speed:</ion-label>
          <ion-label>{{ pokemon.speed }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
