.pokebola-image {
  width: 40px;
  height: 40px;
}

/* card.page.scss */

ion-card {
  margin: 1rem;
  padding: 0.5rem;
  width: 125%;
  max-width: 600px;
  align-self: center;
  border: 2px solid #ff6347; /* Borda laranja */
  height: 600px;
}

  ion-card-header {
    ion-card-title {
      font-family: 'Pokemon Solid', sans-serif;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pokemon-container {
      margin-bottom: 1rem;
    }

    ion-list {
      ion-item {
        display: flex;
        align-items: center;

        ion-label {
          flex: 1;

          p.pokemon-attribute-title {
            font-family: 'Pokemon Solid', sans-serif;
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  img.pokemon-image {
    width: 200px; /* Aumenta o tamanho da imagem */
    height: 200px;
    object-fit: cover; /* Para manter a proporção da imagem */
    margin-right: 1rem;
  }
