<!-- Pokémons no Card -->
<ion-card *ngIf="pokemons">
  <ion-card-header>
    <ion-card-title>
      <img src="assets/img/pokebola.png" alt="Pokebola" class="pokebola-image">
      Pokebola
    </ion-card-title>
  </ion-card-header>
  <!-- <ion-card-content> -->
    <ion-list>
      <ion-item *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.imageUrl" alt="{{pokemon.name}} image" class="pokemon-image"> <!-- Adicionado a tag de imagem -->

        <ion-label>
          <p class="pokemon-attribute-title">Nome: {{pokemon.name}}</p>
          <p class="pokemon-attribute-title">HP: {{pokemon.hp}}</p>
          <p class="pokemon-attribute-title">Ataque: {{pokemon.attack}}</p>
          <p class="pokemon-attribute-title">Defesa: {{pokemon.defense}}</p>
          <p class="pokemon-attribute-title">Ataque Especial: {{pokemon.specialAttack}}</p>
          <p class="pokemon-attribute-title">Defesa Especial: {{pokemon.specialDefense}}</p>
          <p class="pokemon-attribute-title">Velocidade: {{pokemon.speed}}</p>
        </ion-label>
        <!-- <ion-button color="primary" (click)="selectCard(pokemon)">Selecionar</ion-button>
        <ion-button color="danger" (click)="removeCard(pokemon)">Remover</ion-button> -->
      </ion-item>
    </ion-list>
  <!-- </ion-card-content> -->
</ion-card>
