<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
        <ion-label color="danger" stacked>Email is required and must be valid</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
        <ion-label color="danger" stacked>Password is required and must be at least 6 characters</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Display Name</ion-label>
        <ion-input formControlName="displayName" type="text" required></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.controls['displayName'].invalid && registerForm.controls['displayName'].touched">
        <ion-label color="danger" stacked>Display Name is required</ion-label>
      </ion-item>
      
      <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
    </ion-list>
  </form>
</ion-content>
