ion-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;

  app-navbar {
    flex: 0;
    margin-bottom: 20px; /* Adicionado para separar do próximo elemento */
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;

    app-player {
      flex: 0; /* Adicionado para ocupar apenas o espaço necessário */
      margin-right: 20px; /* Adicionado para criar espaço entre o player e o app-card */
    }

    app-card {
      flex: 1; /* Adicionado para ocupar o espaço restante */
    }
  }
}
