ion-content {
  .content-wrapper {
    display: flex;
  
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

  .navbar {
    position: sticky;
    top: 0;
  }

  .player {
    display: flex;
    align-items: center;
    //justify-content: flex-start;
  }

  .button-anterior {
    margin-right: 15px;
  }

  app-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.buttons-container{
  display: flex;
  //align-items: center;
  //justify-content: center;
  margin-left: 630px;
}