<ion-content>
  <app-navbar *ngIf="isLoggedIn"></app-navbar>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <div class="content-wrapper">
          <app-player *ngIf="isLoggedIn"></app-player>
          
          <ion-col>
            <!-- Player's Current Card -->
            <app-card *ngIf="pokemons && pokemons.length > 0" [pokemon]="pokemons[currentCardIndex]"></app-card>
            <ion-button (click)="previousCard()">Anterior</ion-button>
            <ion-button (click)="nextCard()">Próximo</ion-button>
            
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
