<ng-container *ngIf="(computerPlayer$ | async) as computerPlayer">
  <!-- Computer Information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações do Computador</ion-card-title>
      
    </ion-card-header>
    <ion-card-content class="card-content">
      <div>
        <p>Vitórias: {{computerPlayer.wins}}</p>
        <p>Ranking: {{computerPlayer.rank}}</p>
        <!-- Adicionando a imagem aqui -->
        <img src="assets/img/rocket.png" alt="Rocket Team" class="rocket-image">
      </div>

      <!-- Computer pokebola -->
      <!-- <div>
        <app-computer-player-card *ngFor="let card of computerPlayer.cards" [pokemons]="[card]"></app-computer-player-card>
      </div> -->
    </ion-card-content>
  </ion-card>
</ng-container>
