ion-card {
  ion-card-header {
    ion-card-title {
      font-family: 'Pokemon Hollow', sans-serif;
      color: #ff6347;
    }
  }

  ion-card-content {
    display: flex;
    justify-content: space-between;

    > div {
      width: 50%;
    }

    p {
      font-family: 'Pokemon Solid', sans-serif;
      color: #ffffff;
    }
  }
}

.rocket-image {
  width: 30%;
  height: auto;
}
