ion-content {
  ion-list {
      ion-item {
          display: flex;
          align-items: center;

          ion-icon {
              margin-right: 10px;
          }

          ion-label {
              h2 {
                  font-family: 'Pokemon Solid', sans-serif;
                  font-size: 2rem;
                  color: #ff0000; // or any color you want for the username
              }

              .status-dot {
                  height: 20px;
                  width: 20px;
                  background-color: #ffffff; // Grey color when offline
                  border-radius: 50%;
                  display: inline-block;
                  margin-left: 10px;

                  &.online {
                      background-color: #44b700; // Green color when online
                  }
              }
          }
      }
  }
}
