/* player.page.scss */

ion-card {
  ion-card-header {
    ion-card-title {
      font-family: 'Pokemon Hollow', sans-serif;
      color: #ff6347; /* Este é um tom de laranja, mas você pode escolher qualquer cor que preferir. */
    }
  }

  .card-content {
    display: flex; // Cria um layout flexível
    justify-content: space-between; // Alinha os itens nas extremidades do contêiner
    flex-wrap: wrap; // Permite que os itens sejam ajustados para a próxima linha se necessário

    > div {
      flex: 1 1 0px; // Permite que cada div cresça e encolha conforme necessário
      margin: 10px; // Adiciona uma margem em torno de cada div
    }

    .img {
      max-width: 50%; // Restringe o tamanho da imagem
    }

    .ash-image {
      width: 100%; // Preenche a largura total da coluna
      height: auto; // Mantém a proporção da imagem
    }

    p {
      font-family: 'Pokemon Solid', sans-serif;
      color: #ffffff; /* Cor branca */
    }
  }
}

ion-card-title {
  font-weight: bold;
  text-decoration: underline;
}
