<ng-container *ngIf="player$ | async as player">
  <!-- Player Information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações do Jogador</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div>
        <p>Nome: {{player.name}}</p>
        <p>Vitórias: {{player.wins}}</p>
        <p>Ranking: {{player.rank}}</p>
      </div>

<!-- Player Img -->
      <div class="img"> 
        <img src="assets/img/ash.png" alt="Ash" class="ash-image">
          </div>
      <div>
        
        <!-- Player pokebola -->
        <app-card [pokemons]="player.cards" (pokemonsEmitter)="onPokemonsChanged($event)"></app-card>
      </div>
    </ion-card-content>
  </ion-card>
</ng-container>
