<ng-container *ngIf="player$ | async as player">
  <!-- Player Information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações do Jogador</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div>
        <p>Nome: {{player.name}}</p>
        <p>Vitórias: {{player.wins}}</p>
        <p>Ranking: {{player.rank}}</p>
        <img src="assets/img/ash.png" alt="Ash" class="ash-image">
      </div>

      <!-- Player pokebola -->
      <div> 
        <app-card [pokemon]="player.cards[currentCardIndex]"></app-card>
      </div>

      <!-- Buttons to navigate pokemons -->
      <button (click)="previousPokemon()">Previous</button>
      <button (click)="nextPokemon()">Next</button>
      
    </ion-card-content>
  </ion-card>
</ng-container>
