/* player.page.scss */

ion-card {
  margin: 1rem;
  padding: 0.5rem;
  width: 120%;
  max-width: 400px;
  align-self: center;
  border: 2px solid #ff6347; /* Borda laranja */

  ion-card-header {
    ion-card-title {
      font-family: 'Pokemon Hollow', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      margin-bottom: 1rem;
    }

    img.ash-image {
      margin-top: 1rem;
      width: 40%;
      height: auto;
      display: block; /* Centraliza a imagem */
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-bottom: 0.5rem;
      font-family: 'Pokemon Solid', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 1.4rem;
      text-align: center;
    }

    p.name,
    p.rank {
      color: #ff6347; /* Cor para Nome e Ranking */
    }

    p.wins {
      color: #ffffff; /* Cor para Vitórias */
    }
  }
}
