<ion-header>
  <ion-toolbar>
    <ion-title>Deck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Player Hand</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let card of playerHand">
                <ion-icon name="person-circle" slot="start"></ion-icon>
                <ion-label>{{card.name}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Computer Hand</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let card of computerHand">
                <ion-icon name="laptop" slot="start"></ion-icon>
                <ion-label>{{card.name}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="resetGame()">Reset Game</ion-button>
</ion-content>
