<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="login()">Login</ion-button>
    </ion-item>
    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
// crie um botão para redirecionar para register e o usuario fazer seu registro de conta  
<ion-button expand="full" (click)="register()">faça seu registro</ion-button>
