<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" class="ion-padding">
    <ion-item>
      <ion-input id="email" formControlName="email" type="text" label="Email">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input id="password" formControlName="password" type="password" label="Password">
        <ion-icon name="key-outline" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <ion-button expand="full" (click)="login()" color="primary">
      <ion-icon name="log-in-outline"></ion-icon>
      Login
    </ion-button>
    
    <ion-button expand="full" (click)="register()" fill="outline" color="secondary">
      <ion-icon name="person-add-outline"></ion-icon>
      Faça seu registro
    </ion-button>
  </form>
</ion-content>
