<ion-content>
  <ion-card *ngIf="player">
    <ion-card-header>
      <ion-card-title>Player: {{ player.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cards left: {{ player.cards.length }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="computer">
    <ion-card-header>
      <ion-card-title>Computer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cards left: {{ computer.cards.length }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
