<ion-header>
  <ion-toolbar>
    <ion-title>Game Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="player">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Player: {{ player.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cards left: {{ player.cards.length }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="computer">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Computer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cards left: {{ computer.cards.length }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
