<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Player's Current Card -->
        <app-card *ngIf="playerHand && playerHand.length > 0" [pokemon]="playerHand[currentCardIndex]"></app-card>

        <!-- Attribute Selection -->
        <ion-item *ngIf="isGameStarted">
          <ion-label>Escolha um atributo para a batalha:</ion-label>
          <ion-button (click)="onAttributeSelect('hp')">HP</ion-button>
          <ion-button (click)="onAttributeSelect('attack')">Ataque</ion-button>
          <ion-button (click)="onAttributeSelect('defense')">Defesa</ion-button>
          <ion-button (click)="onAttributeSelect('specialAttack')">Ataque Especial</ion-button>
          <ion-button (click)="onAttributeSelect('specialDefense')">Defesa Especial</ion-button>
          <ion-button (click)="onAttributeSelect('speed')">Velocidade</ion-button>
        </ion-item>

        <ion-button (click)="previousCard()">Anterior</ion-button>
        <ion-button (click)="nextCard()">Próximo</ion-button>
      </ion-col>

      <ion-col>
        <!-- Computer Information -->
        <app-computer-player-card [pokemon]="computerHand[currentComputerCardIndex]"></app-computer-player-card>

        <!-- Exit Button Section -->
        <ion-item>
          <ion-button expand="full" (click)="confirmBattleAbandonment()">Sair</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Deck Information -->
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Cartas no deck: {{ deckService.getDeck().length }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Cartas do jogador: {{ playerHand.length }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>Cartas do computador: {{ computerHand.length }}</ion-label>
      </ion-item>
   
      <!-- Resultado do turno -->
      <ion-item *ngIf="turnWinner">
        <ion-label>
          {{ turnWinner === 'player' ? 'Você venceu o turno!' : turnWinner === 'computer' ? 'Computador venceu o turno!' : 'É um empate!' }}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-content>
