<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Player Information -->
        <ng-container>
          <app-player *ngIf="isLoggedIn"></app-player>
        </ng-container>
      </ion-col>

      <ion-col>
        <!-- Computer Information -->
        <app-computerplayer *ngIf="isGameStarted"></app-computerplayer>

        <!-- Exit Button Section -->
        <ion-item>
          <ion-button expand="full" (click)="confirmBattleAbandonment()">Sair</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
