.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('/assets/pokemon pack1/pokebola.load.gif');
  background-repeat: no-repeat;
  background-position: center top;
}
