<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="score">
        <!-- <h2 class="text-score">Player<span class="text-score red">{{ playerWins }}</span></h2> -->
        <h2>X</h2>
        <!-- <h2 class="text-score"> <span class="text-score red">{{ computerWins }}</span>Computer</h2> -->
    </div>
    </ion-toolbar>
  </ion-header>
</ion-content>
